body {
  background-image: url('./spotify-app-background-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #000;
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 150px;
  width: 1200px;
  min-height: 100vh;
}

.box {
  padding: 20px;
  background-color: lightgray;
  border: 1px solid #ccc;
  flex: 1; /* make both components take equal space */
}