.doneReading {
    background-color:#ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    width: auto;
    margin-top: 100px;
    padding: 0 50px;
    height: 500px;
    overflow-y: scroll;
}