.doneReading {
    background-color:#ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 500px;
    margin-top: 100px;
    height: 500px;
    overflow-y: scroll;
}

p {
    margin: 10px;
}