input {
  width: 400px;
  height: 25px;
  font-size: 16px;
  padding: 8px;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.searchButton {
    margin-left: 30px;
    height: 45px;
    width: 100px;
    background-color: lightgray;
    font-weight: bold;
}