nav {
    position: sticky;
    top: 0;
    background: lightgray;
    width: 100%;
    height: 50px;
    align-content: center;
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

