.addBookButton, .removeBookButton {
    background-color: white;
    border: black;
    border-style:solid;
    height: 40px;
    width: auto;
    margin-left: 50px;
}

.BookCardInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightgray;
    margin: 20px;
    padding: 20px;
}
