.addBookButton, .removeBookButton {
    background-color: white;
    border: black;
    border-style:solid;
    height: 40px;
    width: auto;
    margin-right: 50px;
}

.bookCardInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightgray;
    margin: 50px;
    padding: 50px 0;
    width: auto;
    height: auto;
}

.bookCardInfo img {
    margin-left: 50px;
}

.bookCardInfo p {
    padding: 10px;
}