.bookDetailCard {
    background-color:#ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 700px;
    margin-top: 100px;
    height: 400px;
    overflow-y: scroll;
    display: flex;
    gap: 15px;
    padding: 30px;
}

.bookInfo {
    font-size: 1.3em;
}

.bookDetails {
    text-align: left;
    margin-top: 10px;
    font-size: 0.90em;
}

.bookThumbnail {
    width: auto;
    height: auto;
    max-height: 250px;
    flex-shrink: 0;
    border: solid black 1px;
    margin-right: 30px;
}

.dropdownStyle {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid gray;
    background-color: white;
    width: 200px;
    cursor: pointer;
}