.bookDetailCard {
    background-color:#ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 500px;
    margin-top: 100px;
    height: 300px;
    overflow-y: scroll;
    display: flex;
    gap: 15px;
    padding: 30px;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bookDetails {
    text-align: left;
    margin-top: 10px;
}

.bookImage {
    width: auto;
    height: auto;
    padding-right: 30px;
    flex-shrink: 0;
}

.dropdownStyle {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid gray;
    background-color: white;
    width: 200px;
    cursor: pointer;
}