.currentlyReading {
    background-color:#ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    width: auto;
    margin-top: 50px;
    height: 650px;
    overflow-y: scroll;
}

.currentlyReading p {
    margin: 20px;
}